@page "/crypto"
@inject IJSRuntime JS;

<h1>Crypto</h1>

<p>Input Message: <input @bind="_input"/></p>

<button class="btn btn-primary" @onclick="Encrypt">Encrypt</button>
<button class="btn btn-primary" @onclick="Decrypt">Decrypt</button>
<button class="btn btn-primary" @onclick="GenerateKey">Generate New Key</button>

<p>Key: @_keyLabel</p>
<p>IV: @_ivLabel</p>
<p>Output: @_output</p>