@page "/crypto"
@inject IJSRuntime JS;

<h1>Crypto</h1>

<p>Input Message: <input @bind="_input"/></p>

<button class="btn btn-primary" @onclick="Encrypt">Encrypt</button>
<button class="btn btn-primary" @onclick="Decrypt">Decrypt</button>

<p>Output: @_output</p>