@page "/rsa"
@inject IJSRuntime JS;

<h1>Crypto</h1>

<p>Input Message: <input @bind="_input" /></p>
<p>Input Message2: <input @bind="_input2" /></p>

<button class="btn btn-primary" @onclick="Encrypt">Encrypt</button>
<button class="btn btn-primary" @onclick="Decrypt">Decrypt</button>
<button class="btn btn-primary" @onclick="GenerateKey">Generate New RSA Key</button>

<p>Current Key: @_keyLabel</p>
<p>Output: @_output</p>